@use '@styles/variables' as *;
@use '@styles/helpers' as *;

.dessertCart {
  background-color: $color-white;
  color: $color-rose-500;

  width: 100%;
  min-width: rem(310);
  max-width: rem(385);
  min-height: rem(300);
  max-height: rem(500);

  font-weight: $font-weight-semiBold;
  border-radius: $border-radius-sm;
  padding: rem(24);

  display: flex;
  flex-direction: column;
  gap: rem(16);

  .dessertCartTitle {
    flex-shrink: 0;
    color: $color-red;
  }

  .dessertCartEmptyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .dessertCartDivider {
    background-color: $color-rose-100;
    border-radius: $border-radius-sm;
    padding: rem(12) 0;

    font-size: rem(14);
    font-weight: $font-weight-semiBold;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(4);

    b {
      color: $color-rose-900;
      font-weight: inherit;
    }
  }

  .cartItems {
    flex: 1;
    overflow-y: auto;

    padding: rem(8);

    @include inset-shadow;
    @include scrollbar;
  }

  .dessertCartTotal {
    flex-shrink: 0;
    color: $color-rose-500;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .dessertCartTotalPrice {
      color: $color-rose-900;
      font-size: rem(24);
      font-weight: $font-weight-bold;
    }
  }
}
