@use '@styles/variables' as *;
@use '@styles/helpers' as *;

.dessertCart {
  background-color: $color-white;
  color: $color-rose-500;

  width: 100%;
  max-width: rem(385);
  min-height: rem(300);
  max-height: rem(500);

  font-weight: $font-weight-semiBold;
  border-radius: $border-radius-sm;
  padding: rem(24);

  display: flex;
  flex-direction: column;
  gap: rem(38);

  .dessertCartTitle {
    flex-shrink: 0;
    color: $color-red;
  }

  .dessertCartEmptyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .cartItems {
    flex: 1;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: $color-rose-50; 
      border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb {
      background: $color-rose-300; 
      border-radius: 2px;

      &:hover {
        background: $color-rose-400;
      }
    }
    scrollbar-width: thin;
    scrollbar-color: $color-rose-300 $color-rose-50;
  }

  .dessertCartTotal {
    flex-shrink: 0;
    color: $color-rose-500;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .dessertCartTotalPrice {
      color: $color-rose-900;
      font-size: rem(24);
      font-weight: $font-weight-bold;
    }
  }
}
