@use '@styles/variables' as *;
@use '@styles/helpers' as *;

.cartItem {
  position: relative;
  padding: rem(24) rem(16) rem(24) 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $border-width;
    background-color: $color-rose-100;
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  &[data-variant='modal'] {
    position: relative;
    display: flex;
    justify-content: flex-start;
    gap: rem(18);

    padding: rem(12) 0;

    & img {
      width: rem(48);
      height: rem(48);
      border-radius: $border-radius-sm;
    }

    .cartItemTotalPrice {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);

      color: $color-rose-900;
      font-size: rem(16);
      font-weight: $font-weight-semiBold;
    }

    button {
      display: none;
    }
  }

  .cartItemDelete {
    width: rem(18);
    height: rem(18);
    transform: scale(1.2);
    border: $border-width solid $color-rose-400;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform $transition-fast;

    @include hover {
      transform: scale(1.3);
    }

    &:active {
      transform: scale(1.2);
    }
  }

  .cartItemContent {
    display: flex;
    flex-direction: column;
    gap: rem(8);

    .cartItemName {
      color: $color-rose-900;
    }

    .cartItemInfo {
      display: flex;
      flex-direction: row;
      gap: rem(12);

      .cartItemQuantity {
        color: $color-red;
        font-weight: $font-weight-semiBold;
      }
      .cartItemBasePrice {
        font-weight: $font-weight-normal;
      }
    }
  }
}
