@use '@styles/variables' as *;
@use '@styles/helpers' as *;

html {
  font-size: 62.5%; /* 1rem = 10px */
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;

  background-color: $color-rose-50;
  color: $color-rose-900;

  font-size: $font-size-base;
  font-family: $font-family-base;
}
