@use '@styles/variables' as *;
@use '@styles/helpers' as *;

.dessertsListPage {
  margin-top: fluid(24, 90, 375, 1920);

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: $spacing-gap-xl;

  @include mobile {
    flex-direction: column;
  }

  .dessertMain {
    display: flex;
    flex-direction: column;
    gap: $spacing-gap-xl;

    .dessertTitle {
      font-size: rem(40);
    }
  }

  .dessertsGrid {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 250px));
    gap: $spacing-gap-xl rem(24);

    @include mobile {
      grid-template-columns: repeat(1, minmax(250px, 250px));
    }
  }
}
