@use '@styles/variables' as *;
@use '@styles/helpers' as *;

.dessertsListPage {
  display: flex;
  flex-direction: row;
  gap: $spacing-gap-xl;

  .dessertMain {
    display: flex;
    flex-direction: column;
    gap: $spacing-gap-xl;

    .dessertTitle {
      font-size: rem(40);
    }
  }

  .dessertsGrid {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 250px));
    gap: $spacing-gap-xl rem(24);
  }
}
