@use '@styles/variables' as *;
@use '@styles/helpers' as *;

.button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 65%;
  height: rem(50);

  background-color: $color-white;
  color: $color-black;
  border: rem(1) solid $color-black;
  border-radius: $border-radius-lg;

  font-size: fluid(14, 16, 768, 1920);
  font-weight: $font-weight-semiBold;

  cursor: pointer;
  transition: all $transition-fast;

  &:not(.button--active) {
    @include hover {
      color: $color-red;
      border-color: $color-red;
    }
  }

  @include mobile {
    width: 55%;
  }

  &.button--active {
    background-color: $color-red;
    color: $color-white;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: rem(8);
  }

  .button__active-content {
    width: 80%;
    justify-content: space-between;
    gap: 0;
  }

  &__calculate {
    position: relative;
    display: flex;
    align-items: center;

    width: rem(24);
    height: rem(24);
    padding: rem(8);

    border: $border-width solid $color-white;
    border-radius: 50%;

    transition: background-color $transition-fast;

    @include hover-zone(-8px);

    & img {
      transform: scale(1.7);
    }
    &:hover {
      background-color: $color-white;

      & img {
        filter: invert(100%) hue-rotate(14deg) saturate(86%) brightness(42%);
      }
    }
  }
}
