@mixin hover-zone($inset-size) {
  &::before {
    content: ' ';
    position: absolute;
    inset: $inset-size;
  }
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: hsl(20, 50%, 98%);
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: hsl(14, 25%, 72%);
    border-radius: 2px;

    &:hover {
      background: hsl(7, 20%, 60%);
    }
  }
  scrollbar-width: thin;
  scrollbar-color: hsl(14, 25%, 72%) hsl(20, 50%, 98%);
}

@mixin inset-shadow {
  box-shadow: inset 0 0 8px 2px rgba(0, 0, 0, 0.03);
}
