@use './helpers/functions/' as *;

// Цвета
$color-red: hsl(14, 86%, 42%);
$color-green: hsl(159, 69%, 38%);
$color-rose-50: hsl(20, 50%, 98%);
$color-rose-100: hsl(13, 31%, 94%);
$color-rose-300: hsl(14, 25%, 72%);
$color-rose-400: hsl(7, 20%, 60%);
$color-rose-500: hsl(12, 20%, 44%);
$color-rose-900: hsl(14, 65%, 9%);
$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);

// Шрифты
$font-family-base: 'Red Hat Text', sans-serif;
$font-size-base: rem(16);

$font-weight-normal: 400;
$font-weight-semiBold: 600;
$font-weight-bold: 700;

// Отступы
$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2rem;

// Радиусы и бордеры
$border-radius-sm: rem(12);
$border-radius-md: rem(18);
$border-radius-lg: rem(32);

$border-width: rem(1);
$border-color: $color-red;

// Тени
$box-shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
$box-shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
$box-shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.2);

// Брейкпоинты
$breakpoint-xs: 480px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1440px;

// Переходы
$transition-fast: 0.2s ease-in-out;
$transition-normal: 0.3s ease-in-out;

// Контейнер
$container-max-width: rem(1200);

// Z-индексы
$z-index-header: 1000;
$z-index-modal: 1050;
$z-index-tooltip: 1100;
