@use '@styles/variables';

@use './base/base';
@use './base/fonts';
@use './base/normalized';
@use './base/utilites';

@use '../components/ui/dessertCard/DessertCard.module';
@use '../components/ui/button/Button.module';

@use '../components/pages/DessertListPage.module';
