@use '@styles/variables';

@use './base/base';
@use './base/fonts';
@use './base/normalized';
@use './base/utilites';

@use './components/button';

// modules style
@use '../components/ui/dessertCard/dessertCard.module';
@use '../components/ui/button/cartButton/cartButton.module';
@use '../components/pages/dessertListPage.module';
