@use '@styles/variables';

@use './base/base';
@use './base/fonts';
@use './base/normalized';
@use './base/utilites';

@use '../components/ui/desertCard/DesertCard.module';
@use '../components/ui/button/Button.module';

@use '../components/pages/DesertListPage.module';
