@use '@styles/variables' as *;
@use '@styles/helpers' as *;

.productCard {
  display: flex;
  flex-direction: column;
  gap: fluid(32, 38);

  .productCardMedia {
    $border-radius: rem(12);

    position: relative;
    border: rem(2) solid transparent;
    border-radius: $border-radius;
    transition: border-color $transition-normal;

    &.productCardMediaActive {
      border-color: $color-red;
    }

    picture img {
      border-radius: $border-radius;
    }
  }
  .productCardInfo {
    display: flex;
    flex-direction: column;
    gap: rem(4);

    font-size: fluid(14, 16);
  }
  .productCardCategory {
    color: $color-rose-400;
    font-size: fluid(12, 14);
  }
  .productCardName {
    font-size: inherit;
  }
  .productCardPrice {
    color: $color-red;
    font-size: inherit;
    font-weight: $font-weight-semiBold;
  }
}
